<!DOCTYPE html>
<html lang="en">
  <head>
     <% include ../partials/ldOut %>
  </head>
  <body class="slds">
    <header>
    </header>
    <main>
      <div >
        <p>Sales Leaderboard On Heroku</p>
        <div id="leaderboard"></div>
          </div>
      </main>
        <footer>
        </footer>
        <script>
          var url = "<%= ouathLightningURL %>";
          var token = "Bearer "+"<%= oauthtoken %>";
          console.log(token);
            $Lightning.use("c:sampleApp", function() {
                  $Lightning.createComponent("c:sampleComponent", {},
                     "leaderboard",
                      function(cmp) {
                           var myExternalEvent;
                    myExternalEvent = $A.get("e.c:sampleEvent");
                    myExternalEvent.fire();
                      });
            },url,token );
        </script>
  </body>
</html>
